

<!-- 左メニュー  -->
<ul id="slide-out" class="side-nav">
	<li>
		<a href="{{.Site.BaseURL}}"><i class="mdi-action-home left"></i>Home<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
    </li>

    <li>
    	<a href="{{.Site.BaseURL}}/abouts"><i class="mdi-action-perm-media left"></i>About us<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
    </li>           

    <li>
    	<a href="{{.Site.BaseURL}}/event"><i class="mdi-action-perm-media left"></i>Events<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
    </li>

<!--
    <li>
    	<a href="{{.Site.BaseURL}}/projects"><i class="mdi-action-perm-media left"></i>Projects(工事中)<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
    </li>

    <li>
    	<a href="{{.Site.BaseURL}}/categories"><i class="mdi-action-perm-media left"></i>Categories(工事中)<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
    </li>
    <li>
    	<a href="{{.Site.BaseURL}}/tags"><i class="mdi-action-loyalty left"></i>Tags(工事中)<i class="mdi-hardware-keyboard-arrow-right right"></i></a>
 	</li>
-->
</ul>

<div id="index-banner" class="parallax-container">
	<a data-activates="slide-out" class="btn-floating button-collapse" style="top: 5px; left: 5px;">
		<i class="mdi-navigation-menu"></i>
  	</a>
    
    <div class="section no-pad-bot">
    	<div class="container">
       		<!-- <h1 class="header center teal-text text-lighten-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1> -->
        	<a href="javascript:history.back()"><h4 id="ourName">関西Lispユーザー会</h4></a>
     	</div>
    </div>
</div>