
<div class="row center">

<a href="http://kansai-lisp-users.slack.com"><img src="{{.Site.BaseURL}}/images/slack.png" width="48" height="48"></a>
  		  	 
<a href="https://kansai-lisp-useres.connpass.com"><img src="{{.Site.BaseURL}}/images/connpass.png" width="48" height="48"></a>

<a href="https://eventdots.jp/community/kansai-lisp-users"><img src="{{.Site.BaseURL}}/images/dots.png" width="48" height="48"></a>

{{if .Site.Params.github}}
<a href="https://github.com/{{ .Site.Params.github }}"><img src="{{.Site.BaseURL}}/images/github2-dreamstale35.png"></a>
{{end}}
{{if .Site.Params.facebook}}
<a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook-dreamstale25.png"></a>
{{end}}
</div>